__pycache__/
BackUP/
result/
referenceObjV/
paper/
.idea
.mypy_cache
dev.py
dev.ipynb
testlog.py
*.mat
*.log
*.pyc
*.csv
*.png
*.xlsx
*.m
*.aux
*.gz
*.pdf
!paper/moead-RL.tex
!moead-RL.tex

!paper/references.bib
settings.json

